@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<p>Game Store’s track record of #1 games since the company launched. The company has garnered broad critical acclaim, achieving multiple Game of the Year awards across each of its blockbuster franchises. In addition to Game Store’s online-game service.</p>

<p>The high-quality products based on Game Store’s game universes have also proven popular with gamers. These products include action figures, novels, comics, manga, board games, pen-and-paper role-playing games, apparel, which is a bestseller in its category. Extending the reach of its games even further, Game Store is currently at work with Hollywood studios to create movies for our games.</p>
