@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<address>
    Please feel free to contact us for more information about Game Store and our Products & Services.<br /><br />
    1st Floor, Uptown Bonifacio Tower 3, 1st Ave. cor. 2nd Street,<br />
    Fort Bonifacio, Taguig City, Philippines.<br />
    <abbr title="Phone">P:</abbr> +63 (917) 697 – 3659
</address>

<address>
    <strong>General Inquiries:</strong> <a href="mailto:info@gamestore.com">info@gamestore.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@gamestore.com">sales@gamestore.com</a><br />        
    <strong>Media Relations:</strong> <a href="mailto:press@gamestore.com">press@gamestore.com</a><br />
    <strong>Human Resources:</strong> <a href="mailto:jobs@gamestore.com">jobs@gamestore.com</a>

</address>